html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


#trail_page{
  background: #A8DBA8;
  width: 100%; /*had 800px before*/
  margin: 0 auto 0 auto;
  position: relative; /*difference with absolute or relative?*/
}

.trail_index p{ /*add a new trail*/
  background: #CFF09E;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 16px;
}

#picture {
  width: 800px;
  
}

.trail_index h1{ /*running trails and reviews*/
  background: #A8DBA8;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 48px;
}

#trails th{ /*"trail name" and "# of reviews written"*/
  background: #79BD9A;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 18px;
  
  
}

#trails td{ /*listed trail names and number of reviews for each*/
  background: #79BD9A;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 16px; 
}

.trail_index h2{ /*"the current weather for Omaha, NE"*/
  background: #3B8686;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 18px;
}

.trail_index li{ /*weather details*/
  background: #3B8686;
  font-family: "Helvetica Neue";
  font-weight: normal;
  font-size: 16px;
}

#forecast {
  background: white;
  
}

#review_page {
   background: #A8DBA8;
}

#users_page {
  background: #A8DBA8;
  
}

#modal_content{
  border: 3px solid #000000;
  padding: 10px;
  position: fixed;
  background: #ffffff;
  top: 0px;
  width: 400px;
  left: 45%;
  margin-left: -200px; /* Half of the width. */
  
  z-index: 3;
}

#overlay{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  
  z-index: 2;
}
